/* 
0 - 600 extra small
600 - 900 small
900 - 1200 medium
1200 - 1800 - large (desktop first)
1800+ - extra large

1em = 16px
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  width: 100%;
  height: 100vh; }
  @media (max-width: 75em) {
    html {
      font-size: 57%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  min-height: 100vh;
  background-color: whitesmoke;
  color: #341a4a; }

a:link, a:visited {
  text-decoration: none;
  color: whitesmoke; }

.heading {
  display: inline-block;
  margin-top: 3rem;
  font-size: 2.5rem;
  background-image: linear-gradient(to right, #b39cd0, #6b578f);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1.5px;
  transition: all 0.2s; }
  .heading:hover {
    transform: skewX(-15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  text-align: justify; }
  .paragraph:not(:last-child) {
    margin-bottom: 2.5rem; }

.u-center-text {
  text-align: center; }

.u-mb-big {
  margin-bottom: 8rem; }

.u-mb-small {
  margin-bottom: 1rem; }

.u-mb-medium {
  margin-bottom: 4rem; }

.u-lazy-img {
  filter: blur(3px); }

.u-lazy-bg {
  backdrop-filter: blur(5px); }

.section-about {
  position: relative;
  height: 100vh;
  background-color: #f7f7f7;
  padding: 8rem 15rem; }
  @media (max-width: 37.5em) {
    .section-about {
      padding: 8rem 7rem; } }

.skew {
  position: absolute;
  background-color: #b39cd0;
  transform: skewY(-7deg);
  width: 50%;
  height: 13vh;
  left: 0;
  top: -5rem;
  z-index: 6; }
  @media (max-width: 37.5em) {
    .skew {
      top: -8.5rem; } }

.section-features {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 8rem 15rem;
  background-image: linear-gradient(to right bottom, rgba(179, 156, 208, 0.7), rgba(107, 87, 143, 0.7)), url("../imgs/low-res/bg_low-res.jpg");
  background-size: cover;
  backdrop-filter: blur(3px);
  transform: skewY(-7deg); }
  @media (max-width: 75em) {
    .section-features {
      padding: 8rem 7rem;
      justify-content: center;
      height: fit-content; } }
  @media (max-width: 37.5em) {
    .section-features {
      padding: 8rem 7rem; } }

.visible {
  background-image: linear-gradient(to right bottom, rgba(179, 156, 208, 0.7), rgba(107, 87, 143, 0.7)), url("../imgs/bg/bg.jpg"); }

.section-cards {
  padding: 8rem 15rem; }
  @media (max-width: 37.5em) {
    .section-cards {
      padding: 8rem 7rem; } }

.section-stories {
  position: relative;
  padding: 8rem 15rem; }
  @media (max-width: 37.5em) {
    .section-stories {
      padding: 8rem 7rem; } }

.container-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem; }

.section-book {
  height: 100vh;
  padding: 12rem 23rem;
  background-image: linear-gradient(to right bottom, rgba(179, 156, 208, 0.9), rgba(107, 87, 143, 0.9)); }
  @media (max-width: 37.5em) {
    .section-book {
      padding: 8rem 7rem; } }

.book {
  background-image: linear-gradient(105deg, rgba(240, 248, 255, 0.9) 0%, rgba(240, 248, 255, 0.7) 55%, transparent 55%), url("../imgs/bg/form-bg.jpg");
  background-size: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 1.5rem 3rem rgba(40, 26, 74, 0.5); }
  .book-form {
    padding: 4rem 5rem;
    width: 50%; }
    .book-form__header {
      font-size: 3.5rem;
      text-transform: uppercase; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.7rem;
  color: #49376c;
  border-bottom: 1px solid #6b578f;
  padding: 0.5rem 1rem;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #6b578f;
  color: aliceblue;
  box-shadow: 0 0.5rem 1.3rem #6b578f;
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.25rem 0.7rem #6b578f;
  transform: translateY(0); }

.btn-container {
  display: flex;
  justify-content: center; }

.btn {
  cursor: pointer;
  border: none;
  border-radius: 3rem;
  text-transform: uppercase;
  background-color: #9d89b7;
  color: aliceblue;
  transition: all 0.15s;
  padding: 2rem 3rem;
  box-shadow: 0 0.5rem 2.5rem #4a4453; }
  .btn:hover {
    transform: translateY(-3px); }
  .btn:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 1rem #4a4453; }

.btn-all-tours {
  cursor: pointer;
  border: none;
  border-radius: 3rem;
  text-transform: uppercase;
  background-color: #9d89b7;
  color: aliceblue;
  transition: all 0.15s;
  padding: 2rem 3rem;
  font-size: 2rem;
  align-self: center; }
  .btn-all-tours:hover {
    transform: translateY(-3px); }
  .btn-all-tours:active {
    transform: translateY(0); }

.btn-form {
  cursor: pointer;
  border: none;
  border-radius: 3rem;
  text-transform: uppercase;
  background-color: #9d89b7;
  color: aliceblue;
  transition: all 0.15s;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  align-self: flex-start; }
  .btn-form:hover {
    transform: translateY(-3px); }
  .btn-form:active {
    transform: translateY(0); }

.composition {
  position: relative;
  width: 100%; }
  .composition__photo {
    position: absolute;
    max-width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    transition: all 0.2s;
    outline-offset: 1rem; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 3rem;
      right: 2rem; }
    .composition__photo--p3 {
      top: 15rem;
      left: 6rem; }
    .composition__photo:hover {
      z-index: 10;
      transform: scale(1.15);
      outline: 0.8rem solid #6b578f;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: rgba(211, 185, 253, 0.75);
  padding: 4rem 2.5rem;
  border-radius: 1rem;
  transition: all 0.2s; }
  .feature-box__icon {
    width: 8rem;
    height: 8rem; }
    @media (max-width: 75em) {
      .feature-box__icon {
        width: 5rem;
        height: 5rem; } }
  .feature-box:hover {
    transform: translateY(-5px) scale(1.06);
    box-shadow: 0 0.2rem 2rem #8e79b3; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem; }
  .card__side {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 30rem;
    height: 42.6rem;
    box-shadow: 0 0.5rem 2rem #281a4a;
    border-radius: 1rem;
    transition: all 0.8s ease;
    backface-visibility: hidden; }
    @media (max-width: 75em) {
      .card__side {
        display: block;
        width: 100%; } }
    .card__side--back {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotateY(-180deg);
      width: 30rem;
      height: 42.6rem;
      justify-content: center;
      gap: 4rem; }
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, rgba(217, 149, 133, 0.7), rgba(107, 87, 143, 0.7)); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, rgba(94, 142, 111, 0.7), rgba(107, 87, 143, 0.7)); }
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, rgba(100, 153, 205, 0.7), rgba(107, 87, 143, 0.7)); }
  .card__price-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; }
  .card__price-only {
    text-transform: to-upper-case;
    font-size: 2rem; }
  .card__price-value {
    font-size: 5.5rem; }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }

.side__header {
  position: relative;
  font-size: 2.2rem; }
  .side__header--text {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 0.5rem 1rem; }
    .side__header--text--peach {
      background-color: rgba(217, 149, 133, 0.8); }
    .side__header--text--green {
      background-color: rgba(94, 142, 111, 0.8); }
    .side__header--text--blue {
      background-color: rgba(100, 153, 205, 0.8); }
  .side__header--img {
    width: 30rem;
    height: 20rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-blend-mode: hard-light;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .side__header--img--1 {
      background-image: linear-gradient(to right bottom, rgba(217, 149, 133, 0.9), rgba(179, 156, 208, 0.9)), url("../imgs/tours/sea-hike.jpg");
      background-position: center; }
    .side__header--img--2 {
      background-image: linear-gradient(to right bottom, rgba(94, 142, 111, 0.9), rgba(179, 156, 208, 0.9)), url("../imgs/tours/forest-hike.jpg");
      background-position: bottom; }
    .side__header--img--3 {
      background-image: linear-gradient(to right bottom, rgba(100, 153, 205, 0.9), rgba(179, 156, 208, 0.9)), url("../imgs/tours/mountain-hikers.jpg");
      background-position: top 40%; }

.side__info {
  padding: rem 0;
  font-size: 1.8rem;
  list-style: none; }
  .side__info--point {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #281a4a; }
    .side__info--point:last-child {
      border-bottom: none;
      padding-bottom: 2.5rem; }

.story {
  width: 75%;
  background-color: rgba(247, 247, 247, 0.75);
  box-shadow: 0 2rem 6rem rgba(40, 26, 74, 0.1);
  padding: 3rem 6rem;
  font-size: 1.6rem;
  transform: skew(-12deg);
  transition: all 0.5s; }
  .story__shape {
    position: relative;
    width: 12rem;
    height: 12rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skew(12deg); }
  .story__img {
    width: 100%;
    transform: scale(1.4);
    backface-visibility: hidden;
    transition: all 0.3s; }
  .story__text {
    transform: skew(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: aliceblue;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    opacity: 0;
    backface-visibility: hidden;
    transition: all 0.5s; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    filter: blur(3px) brightness(80%);
    transform: scale(1); }

.form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  font-size: 2rem; }
  .form__input {
    outline: none;
    border: none;
    border-bottom: 4px solid transparent;
    border-radius: 1rem;
    padding: 1.4rem;
    background-color: #f7f7f7;
    font-size: 1.5rem;
    transition: all 0.2s; }
    .form__input:focus {
      border-bottom: 4px solid #5e8e6f;
      box-shadow: 0 0.5rem 1rem rgba(40, 26, 74, 0.2); }
    .form__input:focus:invalid {
      border-bottom: 4px solid #d99585; }
  .form__wrapper {
    display: flex;
    justify-content: space-between; }
  .form__row {
    display: flex;
    gap: 2rem; }
  .form__radio {
    display: none; }
  .form__radio:checked ~ .form__radio-label .form__radio-btn::after {
    opacity: 1; }
  .form__radio-label {
    cursor: pointer;
    position: relative;
    padding-left: 4rem; }
  .form__radio-btn {
    position: absolute;
    display: inline-block;
    top: -0.3rem;
    left: 0;
    width: 3rem;
    height: 3rem;
    border: 5px solid #9d89b7;
    border-radius: 50%; }
    .form__radio-btn::after {
      content: "";
      position: absolute;
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      background-color: #9d89b7;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0; }

.bg-video {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.65; }
  .bg-video__content {
    width: 100%;
    object-fit: cover; }
    @media (max-width: 75em) {
      .bg-video__content {
        height: 100%; } }

.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 3000;
  height: 100vh;
  width: 100%;
  background-color: rgba(24, 16, 46, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popup:target .popup__content {
    opacity: 1;
    transform: scale(1); }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__close {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    width: 2rem;
    height: 2rem; }
  .popup__content {
    position: relative;
    width: 75%;
    overflow: hidden;
    background-color: #f7f7f7;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7);
    border-radius: 1.5rem;
    opacity: 0;
    transform: scale(0.2);
    transition: all 0.5s 0.2s; }
  .popup__left {
    width: 33.333333%;
    float: left; }
  .popup__right {
    width: 66.666667%;
    float: right;
    font-size: 2rem;
    padding: 3.5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #9d89b7;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }

.content {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  column-gap: 5rem; }

.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 0.8fr);
  column-gap: 6.5rem;
  transform: skewY(7deg); }
  @media (max-width: 75em) {
    .features-grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem; } }

.tours-grid {
  display: grid;
  grid-template-columns: repeat(3, 0.8fr);
  column-gap: 6.5rem;
  margin-bottom: 8rem; }
  @media (max-width: 75em) {
    .tours-grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem; } }

.footer-grid {
  display: grid;
  column-gap: 10rem;
  grid-template-columns: 1fr 1fr; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  background-color: #18102e;
  padding: 6rem 16rem;
  font-size: 1.6rem;
  color: #9c95ac; }
  .footer__logo-box {
    display: flex;
    justify-content: center; }
  .footer__logo {
    width: 30%; }
  .footer__nav, .footer__copyright {
    border-top: 1px solid #9d89b7;
    padding: 1rem;
    text-align: center; }
  .footer__list {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none; }
  .footer__elem {
    display: inline-block; }
    .footer__elem:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    display: inline-block;
    color: #9c95ac;
    background-color: #18102e;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #c37aed;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.9);
    transform: rotate(5deg) scale(1.2); }

.navigation__bg {
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  z-index: 1000;
  background-image: radial-gradient(#b39cd0, #6b578f);
  transition: all 0.7s ease-in-out; }

.navigation__btn {
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  height: 7rem;
  width: 7rem;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(52, 26, 74, 0.6); }
  .navigation__btn__icon--close {
    display: none;
    width: 3.5rem;
    height: 3.5rem; }
  .navigation__btn__icon--open {
    width: 4rem;
    height: 4rem; }

.navigation__checkbox {
  display: none; }

.navigation__checkbox:checked ~ .navigation__bg {
  transform: scale(60); }

.navigation__checkbox:checked ~ .navigation__btn .navigation__btn__icon--close {
  display: block; }

.navigation__checkbox:checked ~ .navigation__btn .navigation__btn__icon--open {
  display: none; }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 1500;
  transition: all 0.7s ease-in-out;
  opacity: 0;
  width: 0; }

.navigation__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  list-style: none;
  font-size: 3rem; }

.navigation__link:visited, .navigation__link:link {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #341a4a;
  background-image: linear-gradient(120deg, transparent 0%, transparent 40%, #b39cd0 40%);
  background-size: 280%;
  transition: all 0.3s; }

.navigation__link:hover, .navigation__link:active, .navigation__link:focus {
  background-size: 100%;
  transform: translateX(-1.5rem);
  color: #341a4a; }

.navigation__link span {
  margin-right: 1.5rem; }
