@mixin btn-starter-pack {
  cursor: pointer;
  border: none;
  border-radius: 3rem;
  text-transform: uppercase;
  background-color: #9d89b7;
  color: aliceblue;
  transition: all 0.15s;
}

@mixin btn-no-shadow-anim {
  &:hover {
    transform: translateY(-3px);
  }
  &:active {
    transform: translateY(0);
  }
}

// MEDIA QUERY
/* 
0 - 500 extra extra small
500 - 600 extra small
600 - 900 small
900 - 1200 medium
1200 - 1800 - large (desktop first)
1800+ - extra large

1em = 16px
*/

@mixin respond($size) {
  @if ($size == xxs) {
    @media only screen and (max-width: 31.25em) {
      @content;
    }
  }
  @if ($size == xs) {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if ($size == s) {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if ($size == m) {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if ($size == xl) {
    @media only screen and (max-width: 112.5em) {
      @content;
    }
  }
}
