@mixin btn-starter-pack {
  cursor: pointer;
  border: none;
  border-radius: 3rem;
  text-transform: uppercase;
  background-color: #9d89b7;
  color: aliceblue;
  transition: all 0.15s;
}

@mixin btn-no-shadow-anim {
  &:hover {
    transform: translateY(-3px);
  }
  &:active {
    transform: translateY(0);
  }
}
