.content {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  column-gap: 5rem;

  @include respond(m) {
    display: flex;
    flex-direction: column;

    .paragraph {
      text-align: justify;
    }
  }
}

.features-grid {
  display: grid;
  min-width: 100%;
  grid-template-columns: repeat(4, 0.8fr);
  column-gap: 6.5rem;
  transform: skewY(7deg);

  @include respond(m) {
    max-width: 60%;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 6.5rem;
  }
  @include respond(xs) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.tours-grid {
  display: grid;
  grid-template-columns: repeat(3, 0.8fr);
  column-gap: 6.5rem;
  margin-bottom: 8rem;

  @include respond(m) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
}

.footer-grid {
  display: grid;
  column-gap: 10rem;
  grid-template-columns: 1fr 1fr;

  @include respond(m) {
    display: flex;
    flex-direction: column;
  }
}
