.navigation {
  &__bg {
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    z-index: 1000;
    background-image: radial-gradient(#b39cd0, #6b578f);
    transition: all 0.7s ease-in-out;

    @include respond(m) {
      top: 5.5rem;
      right: 5.5rem;
    }
    @include respond(xxs) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__btn {
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    height: 7rem;
    width: 7rem;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(#341a4a, 0.6);

    &__icon {
      &--close {
        display: none;
        width: 3.5rem;
        height: 3.5rem;

        @include respond(m) {
          width: 3rem;
          height: 3rem;
        }
      }
      &--open {
        width: 4rem;
        height: 4rem;

        @include respond(m) {
          width: 3rem;
          height: 3rem;
        }
      }
    }

    @include respond(m) {
      top: 5rem;
      right: 5rem;
    }
    @include respond(xxs) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked ~ &__bg {
    transform: scale(60);
  }
  &__checkbox:checked ~ &__btn &__btn__icon--close {
    display: block;
  }
  &__checkbox:checked ~ &__btn &__btn__icon--open {
    display: none;
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
    height: 100%;
  }

  &__nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 1500;
    transition: all 0.7s ease-in-out;

    opacity: 0;
    width: 0;
    height: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    list-style: none;
    font-size: 3rem;
  }

  &__link {
    &:visited,
    &:link {
      display: inline-block;
      padding: 1rem 2rem;
      text-decoration: none;
      text-transform: uppercase;
      color: #341a4a;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 40%,
        #b39cd0 40%
      );
      background-size: 280%;
      transition: all 0.3s;
    }

    &:hover,
    &:active,
    &:focus {
      background-size: 100%;
      transform: translateX(-1.5rem);
      color: #341a4a;
    }

    span {
      margin-right: 1.5rem;
    }
  }
}
