.composition {
  position: relative;
  width: 100%;

  &__photo {
    position: absolute;
    max-width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.3);
    border-radius: 1rem;
    transition: all 0.2s;
    outline-offset: 1rem;

    &--p1 {
      top: 3rem;
      left: 0;
    }
    &--p2 {
      top: -1rem;
      right: 2rem;
    }
    &--p3 {
      top: 15rem;
      left: 10rem;
    }

    &:hover {
      z-index: 10;
      transform: scale(1.15);
      outline: 0.8rem solid #6b578f;
      box-shadow: 0 2rem 4rem rgba(black, 0.5);
    }

    @include respond(m) {
      max-width: 40%;

      &--p1 {
        top: 3rem;
        left: 15rem;
      }
      &--p2 {
        top: -1rem;
        right: 10rem;
      }
      &--p3 {
        top: 15rem;
        left: 25rem;
      }
    }
    @include respond(s) {
      display: none;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
