.section-about {
  position: relative;
  height: 100vh;
  background-color: #f7f7f7;
  padding: 8rem 15rem;

  @include respond(m) {
    display: block;
    padding: 8rem 10rem;
  }
  @include respond(s) {
    height: fit-content;
  }
  @include respond(xs) {
    padding: 8rem 7rem;
  }
}

.skew {
  position: absolute;
  background-color: #b39cd0;
  transform: skewY(-7deg);
  width: 50%;
  height: 13vh;
  left: 0;
  top: -5rem;
  z-index: 6;

  @include respond(m) {
    top: -6rem;
  }
  @include respond(s) {
    top: -7.9rem;
  }
  @include respond(xs) {
    top: -8.5rem;
  }
}

.section-features {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 8rem 15rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(#b39cd0, 0.7),
      rgba(#6b578f, 0.7)
    ),
    url("../imgs/low-res/bg_low-res.jpg");
  background-size: cover;
  backdrop-filter: blur(3px);

  transform: skewY(-7deg);

  @include respond(m) {
    padding: 8rem 10rem;
    justify-content: center;
    height: fit-content;
    margin-top: 18rem;
  }
  @include respond(s) {
    margin-top: 0;
  }
  @include respond(xs) {
    padding: 8rem 15rem;
  }
}
.visible {
  background-image: linear-gradient(
      to right bottom,
      rgba(#b39cd0, 0.7),
      rgba(#6b578f, 0.7)
    ),
    url("../imgs/bg/bg.jpg");
}

.section-cards {
  // height: 100vh;
  padding: 8rem 15rem;

  @include respond(xs) {
    padding: 8rem 7rem;
  }
}

.section-stories {
  position: relative;
  padding: 8rem 15rem;

  @include respond(m) {
    padding: 8rem 10rem;
  }
  @include respond(xs) {
    padding: 8rem 7rem;
  }
}

.container-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.section-book {
  height: 100vh;
  padding: 12rem 23rem;
  background-image: linear-gradient(
    to right bottom,
    rgba(#b39cd0, 0.9),
    rgba(#6b578f, 0.9)
  );

  @include respond(m) {
    height: fit-content;
    padding: 8rem 10rem;
  }

  @include respond(xs) {
    padding: 8rem 7rem;
  }
}

.book {
  // solid gradient color
  background-image: linear-gradient(
      105deg,
      rgba(aliceblue, 0.9) 0%,
      rgba(aliceblue, 0.7) 55%,
      transparent 55%
    ),
    url("../imgs/bg/form-bg.jpg");
  background-size: 100%;
  // height: 100%;
  border-radius: 5px;
  box-shadow: 0 1.5rem 3rem rgba(#281a4a, 0.5);

  &-form {
    padding: 4rem 5rem;
    width: 50%;

    &__header {
      font-size: 3.5rem;
      text-transform: uppercase;
    }
  }

  @include respond(m) {
    background-image: linear-gradient(
        105deg,
        rgba(aliceblue, 0.9) 0%,
        rgba(aliceblue, 0.7) 70%,
        transparent 70%
      ),
      url("../imgs/bg/form-bg.jpg");
    background-size: cover;

    &-form {
      width: 70%;
    }
  }

  @include respond(s) {
    background-image: linear-gradient(
        105deg,
        rgba(aliceblue, 0.9) 0%,
        rgba(aliceblue, 0.7) 70%,
        transparent 70%
      ),
      url("../imgs/bg/form-bg.jpg");
    background-size: cover;

    &-form {
      width: 70%;
    }
  }
  @include respond(xxs) {
    background-image: linear-gradient(
        to right,
        rgba(aliceblue, 0.75) 0%,
        rgba(aliceblue, 0.75) 100%
      ),
      url("../imgs/bg/form-bg.jpg");
    background-size: cover;

    &-form {
      width: 100%;
    }
  }
}
